<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Statistici</title>
</head>
<body>
    <div display="inline">
        <label>Statistici bazate pe cererile studentilor</label>
        <br>
        <textarea id="groups" rows="4" cols="50"></textarea>
        <textarea id="series" rows="4" cols="50"></textarea>
        <textarea id="students" rows="4" cols="50"></textarea>
    </div>
    <script language='JavaScript' type='text/javascript'>
        var xhr = new XMLHttpRequest();
        xhr.onload = () => {
            console.log(xhr.responseText);
            response = JSON.parse(xhr.responseText);
            const groups = document.getElementById('groups');
            const series = document.getElementById('series');
            const students = document.getElementById('students');
            groups.innerHTML = response['groups'];
            series.innerHTML = response['series'];
            students.innerHTML = response['students'];
        };
        xhr.open('POST', 'http://localhost:8080/statistici');
        xhr.send();
    </script>

</body>
</html>